* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    &:link{
        color: rgb(4, 190, 190);
    }
    &:visited{
        color: rgb(1, 151, 151);
    }
    &:hover{
        color: rgb(5, 212, 212);
    }
}

body{
    font: 16px "Helvetica Neue", Arial, sans-serif;
    background: #333;
    color: rgb(187, 180, 169);
}